.mentors-section {
    margin-top: 240px;
    text-align: center;
}

.mentors-section h1 {
    margin-bottom: 50px;
    font-size: 76.8px;
}

.mentors-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1350px; 
    height: 705px; 
    margin: 0 auto; 
}

.mentor-row {
    display: flex;
    justify-content: center;
    width: calc(100% - 80px);
    margin-bottom: 3px; 
    margin-top: 3px; 
}

.mentor-image {
    width: 280px;
    height: 280px;
    margin: 1px; /*отступы между изображениями */
    object-fit: contain;
}
.effect-grid {
    position: absolute;
    bottom: -5280px;
    right: 0;
    width: 650px;
    height: auto;
    z-index: -1;
}