.feedback-button {
    background-color: #7FA632; 
    color: white;
    padding: 8.5px 26px;
    border: none; 
    border-radius: 13px;
    cursor: pointer;
    transition: all 0.5s ease; 
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    margin-left: 100px;
    margin-top: -16px;
    font-weight: 600;

}

.feedback-button:hover {
    background-color: white; 
    color: #7FA632;
}