.icon-button {
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
    font-family: 'Montserrat', sans-serif; 
    font-size: 28px; 
    margin-top: 0px;
    text-decoration: none; 
    background-color: transparent; 
    color: white; 
    font-weight: 600;
    align-items: center;
}

.icon {
    width: 25px;
    height: 28px; 
    margin-right: 25px; 
    align-items: center;
}

.button-text {
    font-size: 23px;
    align-items: center;
}