.scroll-button {
    background-color: transparent; 
    color: white; 
    border: none; 
    cursor: pointer;
    transition: all 0.5s ease; 
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    margin-top: -15px;
    font-weight: 600;
    text-decoration: none;
}

.scroll-button:hover {
    background-color: transparent;
    color: #7FA632;
    text-decoration: none;
    
}