.input {
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 24px; 
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.input:focus {
    outline: none; 
}

.input-disabled {
    background-color: #f0f0f0;
    color: #a0a0a0;
    cursor: not-allowed;
}