/* Header.css */
.header {
    background-color:black;
    display: flex; 
    align-items: center; 
    background-color: #000000;
    justify-content: flex-start;
    border-bottom: 2.5px solid #7FA632;
    height: 105px;
    width: 100%;
}

.logo-container {
    margin-right: 20px; 
    margin-left: 37px;
    align-items: flex-start;

}

.navigation {
    display: flex; 
    gap: 50px; 
  
}

