.header {
    z-index: 100;
    background-color:black;
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-color: #000000;
    border-bottom: 2.5px solid #7FA632;
    height: 88px;
    width: 100%;
    position:fixed;
    z-index: 10;
}

.logo-container {
    margin-right: 20px; 
    margin-left: 37px;
    align-items: flex-start;
    cursor: pointer;
}

.navigation {
    display: flex; 
    gap: 50px; 
  
}

