/* opd.css */
.opd {
    display: flex; /* Используем flexbox для размещения элементов */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    width: 100%; /* Занять всю ширину контейнера */
    height: 707px; /* Установите желаемую высоту */
}

.content {
    display: flex; /* Используем flexbox для размещения элементов внутри контента */
    align-items: center; /* Центрируем элементы по вертикали */
    margin-top: 3px; /* Отступ сверху для контента */

}

.text-container {
    display: flex; 
    flex-direction: column; /* Вертикальное расположение текста */
    align-items: flex-end; /* Выравнивание текста по правому краю */
    text-align: right; /* Выравнивание текста по правому краю */
    margin-right: 31px;
}

.text-white {
    color: rgb(255, 255, 255); /* Белый цвет текста */
    font-size: 76.5px; /* Размер шрифта для белого текста */
   /* margin-right: 150px;  Смещение вправо от края контейнера */
}

.text-green {
    color: #7FA632; /* Зеленый цвет текста */
    font-size: 76.5px; /* Размер шрифта для зеленого текста */
}