.leader {
    text-align: center;
}

.leader-photo {
    width: 320px;
    height: auto;
    border-radius: 13px;
}

.leader-name {
    color: white;
    font-size: 32px;
    margin-top: 10px;
}

.leader-position {
    color: #7FA632;
    font-size: 28px;
    margin-top: -22px;
}