body {
  font-family: 'Montserrat', sans-serif; 
  font-weight: 600; 
  background-color: black; 
  color: white; 
  margin: 0; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.app-container {
  text-align: left; 
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.app-container {
  min-height: 100vh; 
  padding: 40px;
  background-color: #000;
}

html, body {
  height: 130%;
  margin: 0;
  padding: 0;
  overflow-y: auto; 
}

.app-container {
  min-height: 100vh; 
  padding: 40px;
  background-color: #000;
}