body {
  font-family: 'Montserrat', sans-serif; 
  font-weight: 600; 
  background-color: black; 
  color: white; 
  margin: 0; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  min-height: 400vh; 
}

.app-container {
  text-align: left; 
  min-height: 100vh; 
  padding: 40px;
  background-color: #000;
  overflow-y: auto; 
  margin: 0 auto; 
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}