:root {
  --color-white: white;
  --color-green: #7FA632;
}

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif; 
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-white {
  color: var(--color-white);
}

.text-green {
  color: var(--color-green);
}

p {
  font-weight: 600;
}